{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content={% block content %}{% endblock %}>
    <meta name="author" content="TongLiu">
    
    <title>{% block title %}{% endblock %}</title>

	{% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "videomanagement/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "videomanagement/css/base.css" %}" rel="stylesheet">
    
    <!-- Custom js for this template -->
    {% block script %}
    
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
    {% endblock %}
    
    <!-- Custom styles for this template -->
    {% block css %}
    {% endblock %}    

  </head>
  <body>
	{% block navbar %}
  	<nav class="navbar navbar-default navbar-fixed-top">
  	  <div class="container">
        <a class="navbar-brand" href="{% url 'login' %}">
          <img alt="PBWC Videos" class="brand_img" src="">
        </a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home <span class="badge"></span></a></li>
	{% if perms.videomanagement.change_video %}
            <li><a href="{% url 'committee_retrieve' %}">Committee-only Videos<span class="badge"></span></a></li>
            <li><a href="{% url 'retrieve_meeting_requests' %}">Pending Meeting Requests<span class="badge"></span></a></li>
            <li><a href="{% url 'retrieve_requests' %}">Pending Video Requests <span class="badge"></span></a></li>
            <li><a href="{% url 'committee_action_retrieve' %}">Committee Action Log <span class="badge"></span></a></li>
	{% endif %}
	{% if perms.videomanagement.add_video %}
            <li><a href="{% url 'upload' %}">Upload Videos <span class="badge"></span></a></li>
	{% endif %}
          </ul>
		  <ul class="nav navbar-nav navbar-right">
    	    <li class="dropdown">
 	         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
    	      <ul class="dropdown-menu">
	<!--
        	    <li><a href="">My profile</a></li>
 	            <li><a href="">Reset password</a></li>
	-->
        	    <li role="separator" class="divider"></li>
 	           <li><a href="{% url 'logout' %}">Log out</a></li>
    	      </ul>
     	  	 </li>
   		   </ul>	
      </div>
  	  </div>
	</nav>
	{% endblock %}
	

	{% block notlog_navbar %}
	{% if user.is_anonymous %}
  	<nav class="navbar navbar-default navbar-fixed-top">
  	  <div class="container">
        <a class="navbar-brand" href="{% url 'login' %}">
          <img alt="Login" class="brand_img" src="">
        </a>
  	  </div>
	</nav>
	{% else %}
	{% endif %}
	{% endblock %}
	
	{% block container %}
	<div class="container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	  <div class="block">
	    <div class="block_content">

	    </div>
	  </div>
	</div>
	{% endblock %}

	
  </body>
</html>
