{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Community Page{% endblock %}
{% block title %}PBWC-VideoManagement Community Page{% endblock %}

<!-- Custom styles for this template -->
{% block css %}
{% endblock %} 

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
	<script src="{% static "videomanagement/js/search.js" %}"></script>
{% endblock %}

{% block container %}

<div class = "row">
<div class="container">
<h1 class = "text-center"> Community Videos</h1>
{% if user_type == 'student' or user_type == 'officer' %}
<div>
	<p>You have submitted 
		<a href="{% url 'retrieve_made_requests' %}">{{request_num}}</a>
		 requests that are based on a single video. Among them, {{request_pending_num}} requests are still pending.
	</p>
	<p>You have submitted 
		<a href="{% url 'retrieve_meeting_made_requests' %}">{{meeting_request_num}}</a>
		 general requests. Among them, {{meeting_request_pending_num}} requests are still pending.
	</p>
</div>
<div class="text-right">
	<a class="btn btn-default" href="{% url 'create_meeting_request' %}">Create Meeting Request</a>
</div>
{% endif %}

<form id='search_form' method="post" action="">
	{% for field in form.visible_fields %}
	<span class="form-group">
                <label>{{field.label_tag}}</label>
                <span>
                    {{field}}
                </span>
    </span>
	{% endfor %}
    <button class="btn btn-info btn-xs" type="submit" value="Search">Search</button>
    <a href="" id="get_all">Get all videos</a>
    {% csrf_token %}
</form>

<div id='videos'>
	{% for video in videos %}
	<div class="col-md-2 text-center">
		<div class="row">
			<a href="{% url 'view_video' video.video_id %}">
    	    		<img class= "img-thumbnail" width="100" height="100" alt="PoliceVideo" src="{% url 'gif' video.video_id %}">
    	    </a>
		</div>
		<div class = "row">
			<a href="{% url 'view_video' video.video_id %}">{{video.video_id}}. {{video.video_date|date:"M d, Y"}}. {{video.location}}</a>
		</div>
	</div>
	{% endfor %}
</div>
</div>
</div>

{% endblock %}
