{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Login{% endblock %}
{% block title %}PBWC-VideoManagement Login{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}
<div class="container">
  <div class="login-form-back col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">   
    <h2>Log in</h2>
    <div class="btn-group-vertical" role="group">
      <form role="form" action="{% url 'social:begin' 'google-oauth2' %}" class="form-signin">
        <button class="btn btn-default">I'm a student</button>
        {% csrf_token %}
      </form> 
      <form role="form" action="" class="form-signin">
        <button class="btn btn-default">I'm a police officer</button>
        {% csrf_token %}
      </form>
      <form role="form" action="" class="form-signin">
        <button class="btn btn-default">I'm a video manager</button>
        {% csrf_token %}
      </form>
      <form role="form" action="" class="form-signin">
        <button class="btn btn-default">I'm a committee member</button>
        {% csrf_token %}
      </form>
    </div>
    
  </div>
</div> 
{% endblock %}
