{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Privacy Policy{% endblock %}
{% block title %}PBWC-VideoManagement Privacy Policy{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
<h1 class = "text-center"> Privacy Policy Table</h1>
	<div class="container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	<p class="text-center"> For Complete Privacy Policy, click <a href="{% url 'full_privacy' %}">here</a>.</p>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
