{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Privacy Policy{% endblock %}
{% block title %}PBWC-VideoManagement Privacy Policy{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
<h1 class = "text-center"> Privacy Policy</h1>
	<div class="container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	  <p> In adopting this web-based service for [insert name of university], we aim to protect the privacy of all community members while providing transparency and accountability in how campus police conduct their work. This requires full transparency in how information about you is collected through [insert name of website], as well as through body-worn cameras (BWCs) used by our campus police.</p>

	<p>This Privacy Policy explains how this web-based service receives information about you, and what we do with that information once we have it. You can also read the user manual ( [insert link] ) and Best Practices ( [insert link] ) to understand your and other community members’ roles in how BWC footage is managed on campus.</p>

	<p>For the purposes of this Privacy Policy, all references to [insert name of university] include [insert website URL] and [insert university’s short name]. By using the [insert website URL] website and/or being a member of the [insert university’s short name] community, you consent to the data practices described in this statement.</p>

	<h3>What information of yours is being collected?</h3>
	<p>If the LED indicator for a campus police officer’s BWC is on, they are actively recording their surroundings. Therefore, if you pass by an officer when this indicator is on, you and your surroundings will be recorded. Neither the BWC nor the database in which we store BWC footage can automatically identify you in the footage. If footage is approved for public viewing, other community members may be able to identify you if they recognize you, but they cannot create a record in the web-based service that associates your identity with the footage.</p>

	<p>Please note that an officer should, if possible, ask for verbal consent before entering a dormitory building while recording from their BWC, or notify residents of the dormitory building at the earliest possible time after entry. Our Best Practices ( [insert link] ) provide more information about expectations for campus police conduct.</p>

	<p>This web-based service does not collect any information about you when you view footage that has been approved for public viewing on [insert website URL]. Any request to view footage that has not been publicized yet, remove publicized footage, extend the retention time for footage, or publicize footage that is only visible to the independent committee will contain your first and last name, as well as your college email address. Requests will not be linked to any other college records.</p>

	<h3>How is your information used?</h3>
	<p>For student requests, independent committee members will use BWC footage in conjunction with information collected in requests to ensure that students who were captured in the footage match the identity of the requester. For campus officer requests, independent committee members will use BWC footage in conjunction with information collected in the requests to ensure that the officer who captured the footage matches the identity of the requester. </p>

	<p>Independent committee members will also use this information to tally the number of false or illegitimate requests from any individual. For more information on what constitutes a legitimate request, please see our Best Practices ( [insert link] ).</p>

	<h3>How will your information be stored and protected?</h3>
	<p>Campus police officers are required to provide their BWC to an administrative official within the campus police department that has been assigned the responsibility of uploading all footage to a local database. Once uploaded, footage in this database may only be viewed by members of the independent committee.</p>

	<p>When you submit any request through [insert website URL], your request is stored alongside requests submitted by other [insert university’s short name] community members. Only members of the independent committee are allowed to view these requests.</p>

	<p>We have implemented both policy-based and technical measures to ensure that people beyond the independent committee cannot see footage that has not yet been made public nor see any requests. Videos cannot be downloaded from the site, and all footage is encrypted in the backend database.</p>

	<h3>How long will your information be kept by [insert university’s short name]?</h3>
	<p>By default, the local database to store all BWC footage (regardless of whether it is publicly visible) maintains each piece of footage for 6 months. If the footage captures a use of force by a campus officer, a community member has provided legitimate reason for extending the retention time, or the footage is critical for an ongoing criminal investigation, the footage will be maintained for 3 years.</p>

	<p>Legitimate requests and all associated information will be kept until an independent committee member has fully resolved the request (either by taking the requested action or denying the request and providing reasons for denial). After the request has been resolved, details of the request will be logged in a separate database to document actions taken by the independent committee. Information from illegitimate requests will be maintained by campus administration for the duration of the student’s or officer’s time at [insert name of university]. Therefore, the original request will be deleted, but a record of the request must be maintained for the sake of committee accountability. </p>

	<h3>Will your information be shared with others?</h3>
	<p>When a community member provides a legitimate reason to publicize footage that captures you, this video may become visible to the [insert university’s short name] community. However, if no such request is made, footage of you will only be visible to members of the independent committee, and they are prohibited from sharing this information with anyone else unless law enforcement deems the footage critical for an ongoing criminal investigation.</p>

	<p>All requests from students and campus officers submitted through [insert website URL] are only visible to independent committee members. However, if false or illegitimate requests are submitted, the campus administration will receive information about the requester to assist in monitoring use of [insert website URL].</p>

	<h3>Who should you contact if you have other concerns that weren’t addressed in this statement?</h3>
	<p>If you have additional concerns that are not addressed in this privacy policy, please contact [insert name of Dean of Students] at [insert email address].</p>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
