{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block title %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
	<h1 class = "text-center"> Meeting Requests History</h1>
	<div class="container col-md-12 col-sm-10">
	  <div class="block">
	    <div class="block_content">
	      	<div>
	      	  <table style="width:100%">
				  <tr>
	      	  	 	 <th>Type of Request</th>
	      	  	 	 <th>Request Date</th>
	      	  	 	 <th>Date That Footage Was Recorded</th>
	      	  	 	 <th>Location of Recorded_Event</th>
	      	  	 	 <th>Description of Recorded_Event</th>
	      	  	 	 <th>Reason for Request</th>
	      	  	 	 <th>Status</th>

	      	  	  </tr>
	      	  	  {% for request in requests %}
				  <tr>
	      	  	  	<td>{{request.Type_of_Request}}</td>
	      	  	  	<td>{{request.request_date}}</td>
	      	  	  	<td>{{request.Date_That_Footage_Was_Recorded}}</td>
	      	  	  	<td>{{request.Location_of_Recorded_Event}}</td>
	      	  	  	<td>{{request.Description_of_Recorded_Event}}</td>
	      	  	  	<td>{{request.Reason_for_Request}}</td>
				{% ifequal request.resolved False %}
	      	  	  	<td>Pending</td>
				{% endifequal%}
				{% ifequal request.resolved True %}
					{% ifequal request.accepted True %}
	      	  	  	<td>Accepted</td>
	      	  	  	{% endifequal%}
	      	  	  	{% ifequal request.accepted False %}
	      	  	  	<td>Rejected</td>
	      	  	  	{% endifequal%}
				{% endifequal%}
	      	  	  </tr>
				  {% endfor %}
			  </table>
	      	</div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
