{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block title %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
	<h1 class = "text-center"> Pending Meeting Requests</h1>
	<div class="container col-md-12 col-sm-10">
	  <div class="block">
	    <div class="block_content">
            {% if message %}
            <h4>
                {{message}}
            </h4>
            {% endif %}
	     {% for request in requests %}
	      <div>
	      	 <h3>Request {{request.request.id}}</h3>
			 <ul style="width:100%">
	      	  	  	<li>Video Date: {{request.request.Date_That_Footage_Was_Recorded}}</li>
	      	  	  	<li>Request Date: {{request.request.request_date}}</li>
	      	  	  	<li>Requested By: {{request.request.user.username}}</li>
	      	  	  	<li>Location: {{request.request.Location_of_Recorded_Event}}</li>
	      	  	  	<li>Description: {{request.request.Description_of_Recorded_Event}}</li>
	      	  	  	<li>Reason: {{request.request.Reason_for_Request}}</li>
	      	  	  	<li>Type: {{request.request.Type_of_Request}}</li>
				{% ifequal request.request.Type_of_Request "make_public"%}
	      	  	  	<li><a href="{% url 'make_public'    request.request.id %}">Make Public</a></li>
				{% endifequal %}
				{% ifequal request.request.Type_of_Request "inspect_video"%}
	      	  	  	<li><a href="{% url 'inspect_video'    request.request.id %}">Inspect Video</a></li>
				{% endifequal %}
	      	  	  </ul>
	      	  	  <h4>Related videos: </h4>
	      	  	  {% for video in request.videos %}
					<span>
						<span>
							<a href="{% url 'view_video' video.video_id %}">
							<img class="img-thumbnail" width="100" height="100"
								alt="PoliceVideo" src="{% url 'gif' video.video_id %}">
								</a>
						</span>
					</span>
					{% endfor %} 
			</div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
