{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block title %}PBWC-VideoManagement Retrieve Requests{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
	<h1 class = "text-center"> Pending Video Requests</h1>
	<div class="container col-md-12 col-sm-12">
	  <div class="block">
	    <div class="block_content">
            {% if message %}
            <h4>
                {{message}}
            </h4>
            {% endif %}
	      {% for key, values in requests.items %}
	      	<div>
	      	  <h3>For video {{key.video_id}}</h3>
	      	  <table style="width:100%">
				  <tr>
	      	  	 	 <th>Review Video as Committee</th>
	      	  	 	 <th>Type</th>
	      	  	 	 <th>Request Date</th>
	      	  	 	 <th>Requested By</th>
	      	  	 	 <th>Location</th>
	      	  	 	 <th>Retention (Days)</th>
	      	  	 	 <th>Is Video Public?</th>
	      	  	 	 <th>Reason</th>
	      	  	 	 <th>Request Action</th>

	      	  	  </tr>
	      	  	  {% for request in values %}
				  <tr>
	      	  	  	<td><a href="{% url 'view_video' request.video_id %}">Review Video</a></td>
	      	  	  	<td>{{request.type}}</td>
	      	  	  	<td>{{request.request_date}}</td>
	      	  	  	<td>{{request.user.username}}</td>
	      	  	  	<td>{{request.video.location}}</td>
	      	  	  	<td>{{request.video.retention}}</td>
	      	  	  	<td>{{request.video.is_public}}</td>
	      	  	  	<td>{{request.reasoning}}</td>
				{% ifequal request.type "privatize_video"%}
	      	  	  	<td><a href="{% url 'privatize_video' request.request_id %}">remove from public</a></td>
				{% endifequal%}
				{% ifequal request.type "extend_retention"%}
	      	  	  	<td><a href="{% url 'extend_retention' request.request_id %}">extend retention</a></td>
				{% endifequal%}
	      	  	  </tr>
				  {% endfor %}
			  </table>
	      	</div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
