{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Retrieve Actions{% endblock %}
{% block title %}PBWC-VideoManagement Retrieve Actions{% endblock %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block script %}
	<script src="{% static "videomanagement/js/jquery-3.1.1.js" %}"></script>
	<script src="{% static "videomanagement/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block container %}
	<h1 class = "text-center"> Committee Action Log</h1>
	<div class="container col-md-12 col-sm-12">
	  <div class="block">
	    <div class="block_content">
            {% if message %}
            <h4>
                {{message}}
            </h4>
            {% endif %}
	      	<div>
	      	  <table style="width:100%" border="1">
				  <tr >
	      	  	 	 <th class="text-center">Action ID</th>
	      	  	 	 <th class="text-center">Action Date</th>
	      	  	 	 <th class="text-center">Request Type</th>
	      	  	 	 <th class="text-center">Request ID</th>
	      	  	 	 <th class="text-center">Video ID</th>
	      	  	 	 <th class="text-center">Policy Justification</th>
	      	  	 	 <th class="text-center">Committee Reason</th>
	      	  	  </tr>
	     		{% for action in actions %}
				  <tr>

	      	  	  	<td class="text-center">{{action.action_id}}</td>
	      	  	  	<td class="text-center">{{action.action_date}}</td>
	      	  	  	<td class="text-center">{{action.get_type_display}}</td>
	      	  	  	<td class="text-center">{{action.request_id}}</td>
	      	  	  	<td class="text-center">{{action.video_id}}</td>
	      	  	  	<td class="text-center">{{action.policy_justification}}</td>
	      	  	  	<td class="text-center">{{action.committee_text_reason}}</td>
	      	  	  </tr>
	      		{% endfor %}
			  </table>
	      	</div>

	    </div>
	  </div>
	</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}
