{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Upload{% endblock %}
{% block title %}PBWC-VideoManagement Upload{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block container %}

<div>
    {% if form.errors %}
        <h4>
            {{form.errors}}
        </h4>
    {% endif %}
    <h3>Upload video to system:</h3>
    {% if message %}
        <h4>
            {{message}}
        </h4>
    {% endif %}
    <br>
    <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
        {% for field in form.visible_fields %}
        <div>
            <label>{{field.label_tag}}</label>
            <div>
                {{field}}
            </div>
        </div>
        {% for error in field.errors %}
            <h4>{{error}}</h4>
        {% endfor %}
        {% endfor %}
        <div>
        	<button/>Submit</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}