{% extends "videomanagement/base.html" %}

{% load staticfiles %}

{% block content %}PBWC-VideoManagement Upload{% endblock %}
{% block title %}PBWC-VideoManagement Upload{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block container %}
<div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="block">
        <div class="block_content">
            <h3>Upload BWC Footage:</h3>
            {% if message %}
            <div class="alert alert-info" role="alert">
                {{message}}
            </div>
            {% endif %}
            <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label>{{field.label_tag}}</label>
                <div>
                    {{field}}
                </div>
            </div>
            {% for error in field.errors %}
                <h4>{{error}}</h4>
            {% endfor %}
            {% endfor %}
            <div>
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </div>
            {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block notlog_navbar %}{% endblock %}